<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
         <link rel="stylesheet" 
               href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
               integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
         
        {% endblock %}
    </head>
    <body>
    {% for label, messages in app.flashes %}
    {% for message in messages %}
     <div class="flash-{{ label }}">
      {{ message }}
     </div>
    {% endfor %}
    {% endfor %}
        {% block body %}
        {% block nav %}
                {% include "pages/header/header.html.twig" %}
        {% endblock nav %}
        {% block user_content %}
        
         {% block register %}

         {% endblock register %}
         
        {% block login %}
        {% endblock login %}

        {% endblock user_content %}
        {% endblock body %}
        {% block javascripts %}
           <!--JQuery CDN-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
        crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
